body {
    font-size: 1.5rem;
}

h1 {
    margin-top: 40px;
}

#navigation {
    margin-top: 30px;
}

li.h_menu { 
    display: inline;
    padding: 10px 10px;
    margin-top: 30px;
    margin-left: 20px;
    border: 1px dotted grey; 
}

.menu {
    text-decoration: none;
}

#header_menu {
    display: inline;
    
}

/*
a:link.menu, a:visited.menu {
    color:rgba(10,10,200);
    background-color: rgb(221, 221, 221);
}


a:hover.menu {
    color:rgb(221, 221, 221);
    background-color: rgba(10,10,200);
}

a:active.menu {
    color: #FFF;
    background-color: orange;
}
*/

